<h1>Listing Students</h1>

<%= link_to 'New Student', new_student_path %>

<table>
  <%= form_with url: "/students", method: :get do |form| %>
    <tr>
      <th>
        <%= form.label :selected_surname, "Фамилия*" %><br>
        <%= form.text_field :selected_surname %>
      </th>
      <th>
        <%= form.label :selected_surname, "Имя" %><br>
        <%= form.text_field :selected_surname %>
      </th>
      <th>
        <%= form.label :selected_gender, "Gender" %><br>
        <%= form.select :selected_gender, [["slelct...", nil], ["Male", 1], ["Female", 0]] %>
      </th>
      <th>
        <%= link_to 'filter', students_path %>
        <%= form.submit "Submit Filter" %>
      </th>
    </tr>
  <% end %>

  <tr>
    <th>FIO</th>
    <th>Cognomen</th>
    <th>Gender</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= link_to "#{student.surname} #{student.name} #{student.name}", edit_student_path(student) %></td>
      <!-- <td><%= student.surname %></td> -->
      <!-- <td><%= student.name %></td> -->
      <!-- <td><%= student.name %></td> -->
      <td><%= student.cognomen %></td>
      <td><%= student.gender %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
